header{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: left;  */
}
h1{
    color: #ffA07A;
}
svg {
    
    text-align: center;
}
img{
    border-radius: 50%;
    float: left;
}
figure{
    text-align: center;
}
h2{
    color: #ffA07A;

}
/* .font{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
/* hr{
    align: center;
} */
.example{
    border: 1px solid #454545;
    padding: 3px;
    background: #454545;
    width: 200px;
}
div{
    text-align: left;
    border: 0px;
}